/* 全局scss变量*/
$primaryColor: #6165D4;

// sidebar
$menuText:#ffffff;
$menuActiveText: #6165D4;
$subMenuActiveText:#FFFFFF; //https://github.com/ElemeFE/element/issues/12951
$menuActiveBg:#7B7DE3;
$menuBg:#373974;
$menuHover:rgba(46, 94, 224, 1);
$sidebarWidth: 220px;
$sidebarCollapseWidth: 64px;
$sidebarBgColor: #373974;
$sidebarColor: #ffffff;

// header样式
$headerHeight: 64px;
$headerBg: #ffffff;
$headerColor: #000000;
:export {
    primaryColor: $primaryColor;
    menuText: $menuText;
    menuBg: $menuBg;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuActiveBg: $menuActiveBg;
    sidebarWidth: $sidebarWidth;
    sidebarCollapseWidth: $sidebarCollapseWidth;
    sidebarBgColor: $sidebarBgColor;
}